.entry {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.title {
  margin-bottom: 0;
  font-family: var(--serif-font);
  font-weight: 400;
  line-height: 1.25;

  @media (--medium-up) {
    font-size: var(--text-2xl);
  }

  a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}

.meta {
  margin-bottom: 0.75em;
  font-family: var(--monospace-font);
  font-size: var(--text-xs);

  a {
    position: relative;
    z-index: 5;
  }

  > *:not(:last-child) {
    &::after {
      content: ' · ';
    }
  }
}

.excerpt {
  font-size: var(--text-sm);

  a {
    position: relative;
    z-index: 5;
  }

  address, blockquote, dl, h1, h2, h3, h4, h5, h6, p, pre, table {
    margin-bottom: 0.5rem;
  }
}

.cover {
  margin-bottom: 1em;
}
