.entry {
  position: relative;
  margin-bottom: 3rem;
}

.title {
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.25;

  @media (--medium-up) {
    font-size: var(--text-3xl);
  }

  a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}

.meta {
  margin-bottom: 0.75em;
  font-family: var(--monospace-font);
  font-size: var(--text-xs);
  text-transform: uppercase;

  a {
    position: relative;
    z-index: 5;
  }

  *:not(:last-child) {
    &::after {
      content: ' · ';
    }
  }
}

.excerpt {
  a {
    position: relative;
    z-index: 5;
  }
}

.cover {
  margin-bottom: 1em;
}
