/* Inter font */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../../static/fonts/inter/Inter-Thin-BETA.woff2?v=3.11')
      format('woff2'),
    url('../../static/fonts/inter/Inter-Thin-BETA.woff?v=3.11') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('../../static/fonts/inter/Inter-ThinItalic-BETA.woff2?v=3.11')
      format('woff2'),
    url('../../static/fonts/inter/Inter-ThinItalic-BETA.woff?v=3.11')
      format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../../static/fonts/inter/Inter-ExtraLight-BETA.woff2?v=3.11')
      format('woff2'),
    url('../../static/fonts/inter/Inter-ExtraLight-BETA.woff?v=3.11')
      format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('../../static/fonts/inter/Inter-ExtraLightItalic-BETA.woff2?v=3.11')
      format('woff2'),
    url('../../static/fonts/inter/Inter-ExtraLightItalic-BETA.woff?v=3.11')
      format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../static/fonts/inter/Inter-Light-BETA.woff2?v=3.11')
      format('woff2'),
    url('../../static/fonts/inter/Inter-Light-BETA.woff?v=3.11') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('../../static/fonts/inter/Inter-LightItalic-BETA.woff2?v=3.11')
      format('woff2'),
    url('../../static/fonts/inter/Inter-LightItalic-BETA.woff?v=3.11')
      format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../static/fonts/inter/Inter-Regular.woff2?v=3.11')
      format('woff2'),
    url('../../static/fonts/inter/Inter-Regular.woff?v=3.11') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../../static/fonts/inter/Inter-Italic.woff2?v=3.11') format('woff2'),
    url('../../static/fonts/inter/Inter-Italic.woff?v=3.11') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../static/fonts/inter/Inter-Medium.woff2?v=3.11') format('woff2'),
    url('../../static/fonts/inter/Inter-Medium.woff?v=3.11') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('../../static/fonts/inter/Inter-MediumItalic.woff2?v=3.11')
      format('woff2'),
    url('../../static/fonts/inter/Inter-MediumItalic.woff?v=3.11')
      format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../../static/fonts/inter/Inter-SemiBold.woff2?v=3.11')
      format('woff2'),
    url('../../static/fonts/inter/Inter-SemiBold.woff?v=3.11') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('../../static/fonts/inter/Inter-SemiBoldItalic.woff2?v=3.11')
      format('woff2'),
    url('../../static/fonts/inter/Inter-SemiBoldItalic.woff?v=3.11')
      format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../static/fonts/inter/Inter-Bold.woff2?v=3.11') format('woff2'),
    url('../../static/fonts/inter/Inter-Bold.woff?v=3.11') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../../static/fonts/inter/Inter-BoldItalic.woff2?v=3.11')
      format('woff2'),
    url('../../static/fonts/inter/Inter-BoldItalic.woff?v=3.11') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../../static/fonts/inter/Inter-ExtraBold.woff2?v=3.11')
      format('woff2'),
    url('../../static/fonts/inter/Inter-ExtraBold.woff?v=3.11') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('../../static/fonts/inter/Inter-ExtraBoldItalic.woff2?v=3.11')
      format('woff2'),
    url('../../static/fonts/inter/Inter-ExtraBoldItalic.woff?v=3.11')
      format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../static/fonts/inter/Inter-Black.woff2?v=3.11') format('woff2'),
    url('../../static/fonts/inter/Inter-Black.woff?v=3.11') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('../../static/fonts/inter/Inter-BlackItalic.woff2?v=3.11')
      format('woff2'),
    url('../../static/fonts/inter/Inter-BlackItalic.woff?v=3.11') format('woff');
}

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('../../static/fonts/inter/Inter-roman.var.woff2?v=3.11')
    format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('../../static/fonts/inter/Inter-italic.var.woff2?v=3.11')
    format('woff2');
}

.anchor {
  margin-left: calc(-0.75rem - 4px) !important;

  svg {
    display: inline-block;
    position: relative;
    top: -0.125em;
    width: 0.75em;
    height: 0.75em;
    line-height: 1;
    vertical-align: middle;
  }
}

.custom-block {
  position: relative;
  min-height: 1em;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--text-width);
  margin-bottom: 3rem;
  padding: 1rem 1.5rem 1.5rem;
  border: 2px solid var(--text-color);
  box-shadow: 0.25rem 0.25rem 0 var(--text-color);
}

* + .custom-block {
  margin-top: 2em;
}

.custom-block-heading {
  display: block;
  margin-bottom: 1.25rem;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid var(--text-color);
  font-family: var(--monospace-font);
  font-size: var(--text-lg);
  font-weight: bold;
}

.custom-block-body {
  margin-bottom: 0;

  > * {
    margin-bottom: 0;
  }

  * + * {
    margin-top: 1rem;
  }

  ul {
    text-align: left;
    padding: 0;
    opacity: 0.85;
    list-style-position: inside;
    margin: 0.5rem 0 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    li {
      position: relative;
      list-style-type: none;
      margin: 0 0 0.3em 1em;
      padding: 0;

      &::before {
        position: absolute;
        content: '•';
        left: -1em;
        height: 100%;
        vertical-align: baseline;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.footnotes {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--text-width);
  margin-bottom: 3em;
  font-size: var(--text-sm);

  p {
    display: inline;
  }
}

.gatsby-highlight,
.gatsby-resp-iframe-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width);
}
