.header {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: calc(100% - 2rem);
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  font-size: var(--text-sm);
}

.name {
  display: block;
  margin-right: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  @media (--small-down) {
    flex: 1;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
