.header {
  grid-area: header;
  font-family: var(--monospace-font);

  @media (--small-down) {
    margin: 1rem 1rem 0 1rem;
  }

  @media (--medium-up) {
    position: fixed;
    top: 1rem;
    width: 20vw;
    height: 100%;
    padding-left: 1rem;
    overflow-y: auto;
    z-index: 150;
  }
}

.name {
  display: block;
  color: #000;
  font-family: var(--alternate-font);
  font-size: var(--f5);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;

  a {
    color: inherit;
    text-decoration: none;
  }
}
