.header {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 1em 5%;
  font-family: var(--monospace-font);
  z-index: 150;

  /* @media (--medium-up) {
    position: absolute;
  } */

  @media (--large-up) {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
}

.name {
  display: inline-block;
  margin: 0;
  height: 25px;
  color: #000;
  font-family: var(--alternate-font);
  font-size: var(--f5);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;

  a {
    color: inherit;
    text-decoration: none;
  }
}

/* .header {
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 20px;

  :global .dark-theme :local & {
    background: #252627;
  }

  a {
    text-decoration: none;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 760px;
  max-width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;

  & img {
    height: 44px;
  }
}

.mark {
  margin-right: 5px;
}

.cursor {
  display: inline-block;
  width: 10px;
  height: 1rem;
  background: #fe5186;
  margin-left: 5px;
  border-radius: 1px;
  animation: cursor 1s infinite;
}

.text,
.mark {
  font-size: 18px;
}

.right {
  display: flex;
  position: relative;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */
