.primaryNavigation {
  @media (--small-down) {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    color: #fff;
    z-index: 100;
    transition: all 0.4s cubic-bezier(0, 0, 0.2, 1);
    transform: translatex(101vw);
    -webkit-overflow-scrolling: touch; /* fix momentum scrolling for iOS */
  }
}

.primaryNavigationIsVisible {
  @media (--small-down) {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    color: #fff;
    z-index: 100;
    transition: all 0.4s cubic-bezier(0, 0, 0.2, 1);
    transform: translateX(0);
    -webkit-overflow-scrolling: touch; /* fix momentum scrolling for iOS */
  }
}

.primaryMenu {
  margin: 1rem 0 0;
  list-style: none;
  counter-reset: menu;

  @media (--small-down) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
  }
}

.primaryMenuItem {
  display: flex;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-family: var(--monospace-font);
  font-size: var(--f6);
  border: 2px solid var(--light-text-color);
  transition: all 0.5s;

  &::before {
    margin-right: 0.5em;
    padding-right: 0.5em;
    counter-increment: menu;
    content: "0" counter(menu);
    border-right: 2px solid var(--light-text-color);
  }

  a {
    display: block;
    width: 100%;
  }

  a,
  a:visited {
    color: var(--light-text-color);
  }

  @media (--small-down) {
    margin-bottom: 0.5rem;
    font-size: var(--h1);
    border-color: var(--light-background-secondary);

    &::before {
      border-color: var(--light-background-secondary);
    }

    a,
    a:visited {
      color: var(--light-background-secondary);
    }

    /* line hover effect */
    /* a,
    a:visited {
      position: relative;
      color: color-mod(var(--light-background-secondary) shade(20%));
      transition: all 0.25s;

      &::before {
        background-color: #fff;
        content: "";
        display: block;
        height: 1px;
        left: -3rem;
        position: absolute;
        top: 50%;
      }

      &:hover {
        color: #fff;
        text-decoration: none;
      }

      &:hover::before {
        width: 2.5rem;
      }
    } */
  }
}

.siteControls {
  position: fixed;
  top: 1rem;
  right: 1rem;
  line-height: 1;
  z-index: 200;

  :global .menu-open :local & {
    color: var(--light-background-secondary);
  }

  button + button {
    margin-left: 1rem;
  }
}


.menuToggle,
.themeToggle {
  padding: 0;
  color: inherit;
  font-family: var(--alternate-font);
  font-size: var(--f5);
  line-height: 1;
  text-transform: uppercase;
  border: none;
  outline: none;
  background: none;
  appearance: none;
  box-shadow: none;
}

.menuToggle {
  @media (--medium-up) {
    display: none;
  }
}

.subMenuOverlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  &:focus {
    outline: none;
  }
}
