.primaryNavigation {
  display: none;

  @media (--small-down) {
    width: 100%;
    order: 100;
  }

  @media (--medium-up) {
    display: block;
    margin-left: 1rem;
  }
}

.primaryNavigationIsVisible {
  display: block;

  @media (--small-down) {
    width: 100%;
    order: 100;
  }
}

.primaryMenu {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: menu;

  @media (--medium-up) {
    display: flex;
  }
}

.primaryMenuItem {
  display: flex;
  margin: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  &::before {
    counter-increment: menu;
    content: "0" counter(menu);
  }

  a {
    display: block;
    position: relative;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
  }

  a,
  a:visited {
    color: var(--text-color);
  }
}

.siteControls {
  display: flex;
  justify-content: flex-end;
  flex: 1;

  /* :global .menu-open :local & {
    color: var(--background-color-secondary);
  } */

  button + button {
    margin-left: 1rem;
  }
}


.menuToggle,
.themeToggle {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: inherit;
  font-size: var(--text-base);
  line-height: var(--line-height);
  text-transform: uppercase;
  border: none;
  outline: none;
  background: none;
  appearance: none;
  box-shadow: none;
}

.menuToggle {
  @media (--medium-up) {
    display: none;
  }
}
