.pagination {
  grid-area: pagination;
  margin-top: 3em;
/*
  @media (--medium-down) {
    margin-left: 5vw;
    margin-right: 5vw;
  } */

  @media (--medium-up) {
    /* margin-left: 5%;
    margin-right: 5%;
    align-items: end; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* @media (--extra-large-up) {
    margin-left: 10%;
    margin-right: 10%;
  } */
}

.button {
  position: relative;
  background: var(--background-color-secondary);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  max-width: 40%;
  cursor: pointer;
  appearance: none;

  @media (--medium-up) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  :global .dark-theme :local & {
    background: var(--dark-background-secondary);
  }

  + .button {
    margin-left: 10px;
  }

  a {
    display: flex;
    padding: 8px 16px;
    text-decoration: none;
  }
}

.iconNext {
  margin-left: 8px;
}

.iconPrev {
  margin-right: 8px;
}
