:root {
  /* Light theme colors */
  --light-background: #fff;
  --light-background-secondary: color-mod(var(--light-color) tint(95%));
  --light-color: #393e46;
  --light-color-secondary: #00638a;
  --light-text-color: #111;
  --light-muted-text-color: color-mod(var(--light-text-color) tint(40%));
  --light-border-color: color-mod(var(--light-color) tint(80%));
  --light-input-background: #f2f2f2;

  /* Dark theme colors */
  --dark-background: #292a2d;
  --dark-background-secondary: #3b3d42;
  --dark-color: #a9a9b3;
  --dark-color-secondary: #73747b;
  --dark-text-color: #a9a9b3;
  --dark-muted-text-color: color-mod(var(--dark-text-color) tint(40%));
  --dark-border-color: #4a4b50;
  --dark-input-background: #f2f2f2;

  /* Brand colors */
  --facebook-color: #3b5998;
  --flickr-color: #0063dc;
  --github-color: #181717;
  --google-plus-color: #dc4e41;
  --instagram-color: #e4405f;
  --rss-color: #ffa500;
  --twitter-color: #1da1f2;
  --youtube-color: #cd201f;

  /* Typography */
  --base-font-size: 112.5%;
  --line-height: 1.55;

  --font-size: 1em; /* 16px */
  --base-ratio: 1.2;
  --heading-ratio: 1.125;

  --f7: calc(var(--f6) / var(--base-ratio)); /* 11.111px */
  --f6: calc(var(--font-size) / var(--base-ratio)); /* 13.333px */
  --f5: var(--font-size); /* 16px */
  --f4: calc(var(--font-size) * var(--base-ratio)); /* 19.2px */
  --f3: calc(var(--f4) * var(--base-ratio)); /* 23.04px */
  --f2: calc(var(--f3) * var(--base-ratio)); /* 27.648px */
  --f1: calc(var(--f2) * var(--base-ratio)); /* 33.178px */

  --h6: calc(var(--font-size) / var(--heading-ratio)); /* 14.222px */
  --h5: var(--font-size); /* 16px */
  --h4: calc(var(--font-size) * var(--heading-ratio)); /* 18px */
  --h3: calc(var(--h4) * var(--heading-ratio)); /* 20.25px */
  --h2: calc(var(--h3) * var(--heading-ratio)); /* 22.781px */
  --h1: calc(var(--h2) * var(--heading-ratio)); /* 25.629px */

  --sans-serif-font: Helvetica, Arial, sans-serif;
  --serif-font: "Spectral", Georgia, serif;
  --monospace-font: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  --alternate-font: "Alegreya", serif;

  /* Other */
  --border-radius: 0.125em;
  --global-transition: all 0.4s ease;
  --avatar-size: 30px;
  }

/* Media queries */
@custom-media --small-up (min-width: 576px);
@custom-media --medium-up (min-width: 768px);
@custom-media --large-up (min-width: 992px);
@custom-media --extra-large-up (min-width: 1200px);

@custom-media --extra-small-down (max-width: 575.98px);
@custom-media --small-down (max-width: 767.98px);
@custom-media --medium-down (max-width: 991.98px);
@custom-media --large-down (max-width: 1199.98px);

@custom-media --extra-small-only (max-width: 575.98px);
@custom-media --small-only (min-width: 576px) and (max-width: 767.98px);
@custom-media --medium-only (min-width: 768px) and (max-width: 991.98px);
@custom-media --large-only (min-width: 992px) and (max-width: 1199.98px);
@custom-media --extra-large-only (min-width: 1200px);
